@media (max-width: 2000px)
  .nav-upper-list .upper-phone-list
    float: initial
    margin: 0 auto

  .categories-slide-line
    text-align: center

  .cat-one
    display: inline-block
    margin: 0 3% 20px 3%
    vertical-align: top
    float: initial

  .header-nav-right
    ul
      li
        width: 145px
        a
          span
            font-size: 17px

  .nav-upper-list ul li a
    font-size: 20px

  #callback-form
    .close-callback
      width: 40px
      height: 40px
      font-size: 17px
      line-height: 36px

    .callback-form-phone
      label
        font-size: 30px

      input
        font-size: 22px
        padding: 7px 10px
        border: 1px solid black

    .feedback-form-submit
      font-size: 22px
      width: 200px

  .cat-one
    width: 19%

@media (max-width: 1400px)
  #callback-form
    .callback-form-phone
      label
        text-align: center
        width: 100%

      input
        width: 90%

  .cat-one
    width: 240px


@media (max-width: 1360px)
  .nav-upper-list .upper-phone-list
    float: right

  #callback-form
    .callback-form-phone
      label
        font-size: 17px
        width: 100%

      input
        font-size: 17px
        padding: 2px 10px

    .close-callback
      width: 20px
      height: 20px
      font-size: 11px
      line-height: 11px

    .feedback-form-submit
      font-size: 16px
      width: 160px

@media (max-width: 1200px)
  .header-nav
    padding: 10px

  .header-nav-left
    width: 20%

  .header-nav-right
    width: 100%
    margin-left: 10px
    ul
      li
        width: 88px
        padding: 0 6px
        a
          span
            font-size: 12px

  .footer-menu-block
    width: 29% !important

    .head-footer
      height: 67px

  .nav-upper-list
    padding: 10px 2%
    padding-bottom: 40px

    .upper-phone-list
      width: 307px
      height: initial
      a
        margin-right: 0

  .upper-logo-block
    h1
      font-weight: bold
      a
        font-weight: bold

    h3
      font-size: 17px

    .header-soc
      width: 100%
      float: left
      margin-top: -21px

  .header-scroll-hide

    .upper-logo-block
      padding: 10px 2%
      padding-bottom: 35px

    .upper-phone-list
      width: 225px
      float: right
      height: initial
      padding: 10px
      margin-left: 30px
      padding-top: 0

      a
        font-size: 20px
        margin-right: 0
        line-height: 28px

  #slick-home-categories
    padding: 0

  .cat-one
    margin: 0 3% 20px 3%

    &:nth-child(4n)
      margin-right: 3%

  .product-price-line
    .product-price
      margin-right: 5%

  .product-buy-click-left
    width: 100%

  #callback-form-product-one
    float: left
    margin: 10px auto

  .product-offer
    a
      .product-offer-date-block
        width: 40%
        float: left
        padding: 0 3%

    .product-offer-image
      width: 60%
      float: right

  #slick-products-gallery
    .slick-dots
      display: none !important

    .slick-arrow.slick-next
      right: 0

    .slick-arrow.slick-prev
      left: 0

  #form-product-buy
    width: 60%

  .slider-nav-thumbnails
    .slick-slide
      height: 120px



@media (max-width: 992px)
  .nav-upper-list ul li a
    font-size: 15px

  .upper-logo-block
    h3
      width: 375px

  .why-we-blocks
    .why-we-item
      margin: 0 2% 25px 2%
      width: 45%

      &:nth-child(3n-4)
        margin: 0 2% 25px 2%

  .feedbackForm-content
    width: 70%

  .footer

    .footer-menu-block
      width: 40% !important
      margin: 30px 2% 0 2%

      &:last-of-type
        display: none

      .copy
        display: block

  .banner-item-title
    width: 84%
    float: initial
    padding-left: 0
    padding-top: 50px
    font-size: 30px
    background-color: transparent
    margin: 20px auto
    display: block
    text-align: center

  .banner-item-subTitle
    font-size: 28px
    padding-left: 0
    display: block
    width: 84%
    margin: 40px auto 0 auto
    text-align: center

  .footer
    background: white

  .product-one-wrapper
    padding: 50px 2%

  .product-one-upper-info
    .product-title
      float: left
      margin-bottom: 20px

  .product-price-line
    text-align: center

    .product-btn
      float: initial
      display: inline-block

  .product-one-up-right
    .product-right-one-arrow
      display: none !important

    .product-not-availability
      width: 100%
      text-align: center

    .product-btn-saled
      float: initial
      margin: 20px auto 0 auto

  #form-product-buy
    width: 95%

@media (max-width: 768px)
  .nav-upper-list
    ul
      li
        a
          font-size: 13px

    .upper-phone-list
      width: 100%
      height: initial
      padding-top: 0

      a
        margin-right: 0

        &:first-of-type
          margin-right: 17px

  .upper-logo-block
    h1
      width: 100%
      text-align: center

    h3
      width: 100%
      text-align: center
      margin-top: 0

    .header-soc
      text-align: center
      margin: 10px 0

  .header-nav
    width: 100%
    padding: 10px 5px
    margin: 0 auto

  .header-nav-right
    width: 100%
    margin-left: 0

    ul
      li
        width: 82px
        padding: 0 6px
        vertical-align: top

  .header-scroll-hide
    h1
      margin-top: 0 !important
      margin-bottom: 5px !important

    .upper-phone-list
      width: 100%
      float: left
      margin-left: 0
      text-align: center

      a
        margin-right: 30px

        &:last-of-type
          margin-right: 0

    .upper-logo-block
      padding-bottom: 0

  .category-title
    font-size: 50px

  .product-one-up-left
    width: 100%

  .product-one-up-right
    width: 100%
    margin-top: 30px
    margin-left: 0

  .product-price-line
    .product-price
      float: left

    .product-btn
      float: right

  .product-buy-click
    padding: 0 5%

  #callback-form
    width: 60%

  .slider-nav-thumbnails
    .slick-slide
      height: 200px


@media (max-width: 640px)
  .nav-upper-list
    padding-top: 0
    padding-bottom: 0

    ul
      text-align: center

      li
        padding-top: 5px

    .upper-phone-list
      a
        width: 100%
        display: block
        text-align: center
        margin-right: 0
        font-size: 25px
        line-height: 25px

        &:first-of-type
          margin-right: 0
          margin-bottom: 5px

  .header-nav
    width: 100%
    padding: 10px 0

  .header-nav-right
    ul
      li
        width: 90px
        padding: 0 7px
        margin-bottom: 12px

  .header-scroll-hide
    .header-nav
      display: none !important

    .upper-phone-list
      a
        font-size: 17px

    &.active
      height: 73px

  .categories-section
    margin-top: 20px

  .home-header-line
    margin: 20px 0
    font-size: 50px
    line-height: 45px

  .why-we-section
    margin-top: 20px

    .whyWe-helper-img
      display: none

  .why-we-section-title
    font-size: 50px
    line-height: 45px

  .why-we-section-subTitle
    margin-top: 20px
    font-size: 25px

  .why-we-section-text
    padding: 0

  .why-we-blocks
    .why-we-item
      margin: 20px 0
      width: 100%

      &:nth-child(3n-4)
        margin: 20px 0

  #callback-button
    display: none !important

  .category-product-item:nth-of-type(4n+2) a, .category-product-item:nth-of-type(4n+3) a
    border-left: none

  .category-title
    text-align: center

  .category-title
    font-size: 45px

  .products-rating
    width: 200px
    margin-bottom: 10px

  .product-one-upper-info .product-title
    line-height: 38px

  .product-one-down .col-sm-6-product
    width: 90%

    &:last-of-type
      width: 90%
      margin-left: 0
      margin-top: 30px

  #form-product-buy
    width: 98%
    margin: 10px auto 0 auto
    padding: 5px 30px 5px 5px

  .form-helper-text-small
    font-size: 13px
    margin-top: 2px
    margin-bottom: 1px

  .form-line
    margin-bottom: 5px

  .buy-product-wrapper
    label
      width: 39%
      font-size: 14px
      padding-top: 0

    input
      font-size: 13px

    textarea
      height: 50px

  .slider-nav-thumbnails
    .slick-slide
      height: 130px


@media (max-width: 480px)
  .nav-upper-list
    ul
      li
        padding: 0
        margin-right: 10px

  .upper-logo-block
    h1
      font-size: 25px
      a
        font-size: 25px

    h3
      font-size: 13px

  .header-scroll-hide
    h1
      margin-bottom: 0 !important

    .upper-phone-list
      padding: 0

      a
        font-size: 13px

    &.active
      height: 58px

  .feedbackForm
    padding: 10px

  .feedbackForm-content
    width: 100%

  .feedbackFormTitle
    font-size: 26px
    line-height: 20px
    margin-bottom: 10px

  .footer
    .footer-menu-block
      width: 96% !important
      margin: 0
      margin-bottom: 10px

      .head-footer
        height: initial

      a
        font-size: 18px

  .category-title
    font-size: 35px

  .product-price-line
    .product-price
      float: initial

    .product-btn
      float: initial

  #callback-form
    width: 95%

  .slider-nav-thumbnails
    .slick-slide
      height: 100px

@media (max-width: 430px)
  .buy-product-wrapper
    label
      width: 100%
      display: block
      text-align: center

    textarea
      border: 1px solid gray
      width: 100%

    input
      width: 100%