<div class="article-wrapper-one">
    <span class="article-one-date">{{ article.getStringDate() }}</span>

    <div class="article-one-title">{{ article.title | raw }}</div>

    <div class="article-one-text">
        {{ article.text | raw }}
    </div>
</div>