<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li style="    background: #fbebaf">
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/admin/product">Товары</a>
        </li>
        <li>
            <a href="/admin/category">Категории</a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Заказы/Формы<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/admin/order">Заказы</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/feedback">Заявка на обратную связь</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/callback">Завка на обратный звонок</a></li>
                <li role="separator" class="divider"></li>
            </ul>
        </li>
        <li>
            <a href="/admin/navigation">Навигация</a>
        </li>
        <li>
            <a href="/admin/whywe">Почему мы</a>
        </li>
        <li>
            <a href="/admin/article">Новости</a>
        </li>
        <li>
            <a href="/admin/staticpage">Статички</a>
        </li>
        <li>
            <a href="/admin/offer">Блок акции</a>
        </li>
        <li>
            <a href="/admin/banner">Баннер на главной</a>
        </li>
    </ul>
</nav>
<div class="user-logout clearfix"><a href="/user/security/logout" data-method="post">Выйти</a></div>