<section class="header-nav clearfix">
    <div class="header-nav-right">
        <ul>
            {% for item in navigation %}
                {% if item.navIcon and item.getProducts() %}
                    <li>
                        <a class="header-nav-right-item" href="{{ item.getHref() }}">
                            <img src="{{ item.navIcon }}" alt="{{ item.name | raw }}">
                            <span>{{ item.name | raw }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>

